.Register {
    background: url(../../image/space.png);
    height: 100vh;
}

.regBox {
    width: 480px;
    padding: 32px;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 10px 0 #36393f;
    box-shadow: 0 2px 10px 0 #36393f;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #36393f;
}

.regBox_title {
    color: #ffffff;
}

.regBox__Reg-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}