select {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #dcddde;
    height: 40px;
    padding: 10px;
}

select option {
    background-color: rgba(0, 0, 0, 0.541);
}

option:disabled {
    color: #b9b9b9;
} 