.СharacterCreator {
    background: #c3e3f8;
}

.СharacterCreator main p {
    color: #000;
}

/* .СharacterCreator main {
    height: 100%;
} */

.СharacterCreator main .container .first-character {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    padding: 10vh 0;
}