.СharacterCreator {
    background: #7F2D41;
}

.СharacterCreator main p {
    color: #000;
}

.СharacterCreator main {
    height: 100vh;
}

.СharacterCreator main .container .first-character {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.СharacterCreator main .container {
    margin: 0 !important;
}