.СharacterCreator {
    background: #c3e3f8;
    /* height: 100vh; */
}

.СharacterCreator p {
    color: #000;
}

.СharacterCreator .container .first-character {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10vh 0;
}
@media only screen and (max-width: 425px) {
    .СharacterCreator .container .first-character {
        display: flex;
        justify-content: center;
        padding: 10vh 0;
    }
}