.Button {
    display: flex;
    justify-content: center;
    align-items: center;


    box-sizing: border-box;
    border: none;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    min-height: 26px;
    height: 30px;
    text-transform: uppercase;

    padding: 2px 16px;
    user-select: none;
    transition: background-color .17s ease,color .17s ease;
}

.Button:focus {
    outline: none;
}

.Button:active {
    background-color: #5b6eae;
}

.Button:disabled {
    background: rgba(138, 138, 138, 0.529);
    color: rgba(16, 15, 15, 0.729);
    cursor: not-allowed;
}

.success {
    background: #7289da;
    color: #ffffff;
}

.error {
    background: rgba(240, 87, 108, 1);
}


/* button:hover {
    background-color: #ffffff;
    box-shadow: 0px 18px 26.68px 2.32px rgba(58, 58, 58, 0.1);
    color: rgb(41, 40, 40);
} */