/* div {
    background: #092437;
} */

/* div .row{
    padding: 15px 0px;
} */

div .row .col-md-1 a {
    color: #ffffff;
    text-decoration: none;

}
/* div .row .col-md-4 a {
} */

div .row .col-md-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}