.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
    text-align: center;
    background: #2C2F33;
}

.start .content h1, p {
    color: #fefefe;
}

.start .btn {
    color: #fff;
    background-color: #7289da;
    width: auto;
    min-width: 130px;
    min-height: 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.start .btn:hover {
    background-color: #677bc4;
}

.start .btn:active {
    background-color: #5b6eae;
}

.start .btn .btn-character {
    color: #fff;
    text-decoration: none;
}

.btn .btn-character:hover {
    opacity: 0.7;
}

.mini-wrap .wrap {
    /* padding-left: 10px; */
}